// *** COLORS ****
$color-white: #fff;
$color-light: #f1f1f1;

$color-black: #000;
$color-dark: #222;

$color-danger: #d9534f;

$color-gray-lighter: #eee;
$color-gray-light: #ddd;
$color-gray-medium: #ccc;
$color-gray: #999;
$color-gray-dark: #777;
$color-gray-darker: #555;

// *** Background Form & Popup ***
$color-overlay: #333333b3;

// *** FONTS ***
$font-family-primary: 'Public Sans', sans-serif;

$ts-heading-primary: 0.2rem 0.2rem 0 #ffffff78;

// ***  OTHER PROPERTIES ***
// *** Heading Secondary - h2 ***
$tran-delay-secondary: 0.5s;
$transition-secondary: all 0.25s ease-in-out;

// *** btn span delays ***
$tran-delay-span2: 0.1s;
$tran-delay-span3: 0.15s;
$tran-delay-span4: 0.2s;
